trigger:
- master

pool:
  vmImage: 'macos-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    echo no | npm install -g nativescript@6.8.0
    tns usage-reporting disable
    tns error-reporting disable
  displayName: 'install NativeScript CLI'

- script: |
    npm install
    npm run lint
  displayName: 'npm install and lint'

- script: |
    npm install
    tns build android
  displayName: 'npm install and build'
